<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
</head>

<body style="margin: 0; padding: 0;">
    <h1 style="text-align: center;">ChatApp</h1>
    <ul style="list-style-type: none;" id="chatid">
    </ul>
    <div
        style="display: flex; background-color: blue; padding-top: 10px; padding-bottom: 10px; position: absolute; bottom: 0; width: 100vw; justify-content: center; align-items: center;">
        <input style="line-height: 2; width: 50vw;" type="text" name="" id="">
        <button style="line-height: 2;">Send</button>
    </div>

    <script>
        const chatid = document.getElementById('chatid')

        document.addEventListener('DOMContentLoaded',()=>{
            const uname = localStorage.getItem('chatuname')
            
            const li = document.createElement('li')
            li.appendChild(document.createTextNode(`${uname} has joined`))
            chatid.appendChild(li)
        })
    </script>
</body>

</html>