<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
</head>

<body style="margin: 0; padding: 0;">
    <h1 style="text-align: center;">ChatApp</h1>
    <ul style="list-style-type: none;" id="chatid">
    </ul>
    <div
        style="display: flex; background-color: blue; padding-top: 10px; padding-bottom: 10px; position: absolute; bottom: 0; width: 100vw; justify-content: center; align-items: center;">
        <input style="line-height: 2; width: 50vw;" type="text" name="" id="allchatid">
        <button style="line-height: 2;" onclick="allchatHandler(event)">Send</button>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <script>
        const chatid = document.getElementById('chatid')
        const allchat = document.getElementById('allchatid')

        document.addEventListener('DOMContentLoaded', async () => {
            if(! localStorage.getItem('chatuid')) window.location.href = '/'
            // const uname = localStorage.getItem('chatuname')

            try {

                const allchats = await axios.get('/chat/getallchats')

                allchats.data.map(e=>{
                    return createChatList(e.user.name,e.message)
                })

                const result = await axios.post(`/chat/allchat`, {
                    message: `has joined`,
                    uid: localStorage.getItem('chatuid')
                })
                if (result) {
                    createChatList(result.data.name,result.data.message)
                }
            } catch (err) {
                console.log(err.message)
                alert('Some Error Ocuured')
            }
        })

        function createChatList(name,msg){
            const li = document.createElement('li')
            li.appendChild(document.createTextNode(`${name} : ${msg}`))
            chatid.appendChild(li)
        }

        async function allchatHandler(e) {
            e.preventDefault();
            if(allchat.value == ''){
                alert('Please write something')
                return
            }
            try {
                const result = await axios.post(`/chat/allchat`, {
                    message: allchat.value,
                    uid: localStorage.getItem('chatuid')
                })
                if (result) {
                    createChatList(result.data.name,result.data.message)
                }
            } catch (err) {
                alert('Some Error Ocuured')
            }
        }
    </script>
</body>

</html>