<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body style="margin: 0; padding: 0;">

    <div style="display: flex; height: 100vh; overflow: hidden;">
        <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
            <form action="" style="display: flex; flex-direction: column; gap: 10px; width: 60%;"
                onsubmit="formloginHandler(event)">
                <h1 style="text-align: center;">Login</h1>
                <div style="display: flex; flex-direction: column; gap: 5px;">
                    <label for="">Email : </label>
                    <input style="flex:1; line-height: 2;" type="email" name="" id="emaillogin">
                </div>
                <div style="display: flex; flex-direction: column; gap: 5px;">
                    <label for="">Password : </label>
                    <input style="flex:1; line-height: 2;" type="password" name="" id="pwlogin">
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <p>Don't Have an account <a href="/">Signup</a></p>
                    <button type="submit" style="padding: 5px;">Login</button>
                </div>
            </form>
        </div>
        <div style="flex: 1;">

            <img style="background-size: cover; width: 100%; height: 100%;"
                src="https://images.pexels.com/photos/4246228/pexels-photo-4246228.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="chatimage">
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <script>
        const email = document.getElementById('emaillogin')
        const password = document.getElementById('pwlogin')

        const formloginHandler = async (e) => {
            e.preventDefault();
            try {
                const result = await axios.post(`/user/login`, {
                    email: email.value,
                    password: password.value
                })
                if (result) {
                    alert(result.data.message)
                }
            } catch (err) {
                alert('Some Error Ocuured')
            }
        }
    </script>

</body>

</html>