<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body style="margin: 0; padding: 0;">

    <div style="display: flex; height: 100vh; overflow: hidden;">
        <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
            <form action="" style="display: flex; flex-direction: column; gap: 10px; width: 60%;">
                <h1 style="text-align: center;">Sign Up</h1>
                <div style="display: flex; gap: 5px;">
                    <label for="">Name : </label>
                    <input style="flex:1;" type="text" name="" id="">
                </div>
                <div style="display: flex; gap: 5px;">
                    <label for="">Email : </label>
                    <input style="flex:1;" type="email" name="" id="">
                </div>
                <div style="display: flex; gap: 5px;">
                    <label for="">Password : </label>
                    <input style="flex:1;" type="password" name="" id="">
                </div>
                <div style="display: flex; justify-content: end;">
                    <button style="padding: 5px; width: max-content; border-radius: 5px;">Sign Up</button>
                </div>
                <p>Already Have an account <a href="">Login</a></p>
            </form>
        </div>
        <div style="flex: 1; background-color: rebeccapurple;">

            <img style="background-size: cover; width: 100%;"
                src="https://images.pexels.com/photos/4246228/pexels-photo-4246228.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="chatimage">
        </div>
    </div>

</body>

</html>